@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
  background-image: url("https://i.imgur.com/N1rdKHo.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "roboto condensed", "open sans", sans-serif;
}

.container {
  padding: 5%;
  width: auto;
}

.trout {
  position: relative;
  z-index: 1;
  width: auto;
  min-width: 30%;
  max-width: 425px;
  /**
yes i already tried 420 and it's too small so dont even try it!!
**/
  background-color: rgba(248, 208, 161, 1);
  border: 4px solid white;
  border-radius: 23px;
  margin: 3% 25% 3%;
  padding: 0 3% 2%;
}

/**

.hmm {
  background-color: white;
  border: 4px solid white;
  border-radius: 23px;
  display: inline-block;
  height: 50px;
  margin: 20px;
  padding-top: -50px;
  padding-bottom: 10px;
}

who is she? whomst??
why she here?

**/

.npc {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
}

div#wrapperHeader {
  width: 100%;
  height: 200px;
  background: url("https://i.imgur.com/tWerAps.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

div#wrapperHeader div#header {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

div#wrapperHeader div#header img {
  width: 336px;
  height: 149px;
  margin: 0 auto;
}

.banner {
  background-image: url("https://i.imgur.com/8qyJzyE.png");
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-family: "roboto condensed", "open sans", sans-serif;
  font-size: 22px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 6% 0 1%;
  padding: 0 0 0 0;
}

h2 {
  font-family: "roboto condensed", "open sans", sans-serif;
  font-size: 28px;
  color: #b98c75;
  text-align: center;
  text-transform: uppercase;
  margin: 3% 0 0;
  padding: 0 0 0;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 10px;
  border: 3px solid white;
  /**
  is this too much border. should we delete
  need to make the inner divs look less bland
  **/
  width: 100%;
  /** 
  for the life of me i cant get this binch properly centered within the div;
  check out the alignment of the right side of the header
  **/
}

h1 {
  font-family: "roboto condensed", "open sans", sans-serif;
  font-size: 24px;
  color: #E1AB87;
  padding: 0px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}

.button {
  background-color: #ff5959;
  border: 3px solid white;
  border-radius: 23px;
  color: white;
  padding: 15px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "roboto condensed", "open sans", sans-serif;
  font-size: 18px;
}
