html {
    overflow: scroll;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

body {
    background: url("background.png") no-repeat fixed;
    background-color: #cccccc;
    background-size: 100% 100%;
    font-family: "roboto condensed", "open sans", sans-serif;
    font-size: 18px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
}

/* .container {
    padding: 0 auto;
    width: 100%;
    margin: 0 auto;
} */

.trout {
    position: relative;
    width: @screen-md-mid;
    max-width: 485px;
    background-color: rgb(248, 208, 161);
    border: 4px solid white;
    border-radius: 23px;
    margin: 10px 0px 10px;
    padding: 10px 0px 10px;
}

#wrapperHeader {
    width: 100%;
    height: 200px;
    background: url("logo.png") no-repeat center;
    text-align: center;
    border: none;
    margin: 0 auto;
}

#wrapperHeader #header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    border: none;
}

#wrapperHeader #header img {
    width: 336px;
    height: 100px;
    margin: 0 auto;
    border: none;
}


h2 {
    font-family: "roboto condensed", "open sans", sans-serif;
    font-size: 22px;
    color: rgb(219, 127, 94);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 6% 0 1%;
    padding: 0 0 0 0;
    display: inline-block;
}

h1 {
    display: inline-block;
    color: rgb(219, 127, 94);
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    margin: 0 0 0;
    padding: 5px 18px;
    border-radius: 12px;
    font-family: "Roboto Condensed", "open sans", sans-serif;
    vertical-align: middle;
}


button {
    background-color: #ff5959;
    border: 3px solid white;
    border-radius: 23px;
    color: #fff;
    padding: 12px 21px;
    margin: 0em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "roboto condensed", "open sans", sans-serif;
    font-size: 18px;
    outline: none;
}

.reset {
    border-radius: 50%;
    padding: 15px 10px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 15px;
}

button:focus {
    outline: none;
}

/* BEGIN DARK MODE/HIGH CONTRAST SETTINGS */

.dark {
    color: #f2a365; 
}

.dark2 {
    background-color: #30475e;
    color: #f2a365; 
}

.darkbtn
{
    border-color: #ececec;
}

.darkdiv
{
    background-color: #222831;
    border-color: #ececec;
}

/* END DARK MODE/HIGH CONTRAST SETTINGS */

a,
a:hover,
a:active,
a:link,
a:visited {
    outline: none;
    border: none;
    text-decoration: none;
    border: 0!important;
}

.btn:focus {
    outline: none;
}

footer a {
    color: rgb(219, 127, 94);
    font-weight: bold;
}

footer a:hover {
    color: rgb(248, 208, 161) !important;
}


h1 a,
a:hover,
a:active,
a:link,
a:visited {
    color: #e1ab87;
    outline: none;
}

h1:hover {
    background: #848484 !important;
}

/*  MOON TOGGLE BUTTON   */

#color {
    border: none;
    position: fixed;
    /*
    position: -webkit-sticky;
    float: right;
    margin: 65px -15px 0 0;
*/
    top: 5px;
    right: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    z-index: 100;
    overflow: hidden;

}


/* HEART TOGGLE TESTING */

.heart {
    width: 16px;
    height: 16px;
    background: url(deheart.png) no-repeat;  
    display: inline-block;
    padding: 0px;
    margin-right: -20px;
}

.chatted {
    background: url(heart.png) no-repeat;  
}